<div class="app-container">
  <div class="world-map-app-container">
    <div class="world-map-container">
      <!-- Map renders here -->
    </div>

    <div class="map-menu mat-elevation-z4">
      <h2 class="mat-h2">Color display</h2>

      <mat-button-toggle-group class="display-toggle-group" vertical>
        <mat-button-toggle
          [checked]="currentAttribute === 'population'"
          (click)="displayColorByAttribute('population')"
        >
          Population
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="currentAttribute === 'area'"
          (click)="displayColorByAttribute('area')"
        >
          Area
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="currentAttribute === 'density'"
          (click)="displayColorByAttribute('density')"
        >
          Density
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="currentAttribute === 'continents'"
          (click)="displayColorByAttribute('continents')"
        >
          Continents
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-divider></mat-divider>

      <ng-container *ngIf="countryInfo">
        <h2 class="mat-h2">Country information</h2>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ countryInfo?.name["common"] }}</mat-card-title>
            <mat-card-subtitle>{{ countryInfo?.capital }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="flag-container">
              <img [src]="countryInfo?.flags['png']" alt="Flag" />
            </div>

            <mat-list>
              <mat-list-item>
                <span matListItemIcon><mat-icon>people</mat-icon></span>
                <span matListItemTitle>Population</span>
                <span matListItemLine>{{
                  countryInfo?.population.toLocaleString()
                }}</span>
              </mat-list-item>

              <mat-list-item>
                <span matListItemIcon><mat-icon>map</mat-icon></span>
                <span matListItemTitle>Area</span>
                <span matListItemLine
                  >{{ countryInfo?.area.toLocaleString() }} km²</span
                >
              </mat-list-item>

              <mat-list-item>
                <span matListItemIcon><mat-icon>people_outline</mat-icon></span>
                <span matListItemTitle>Population Density</span>
                <span matListItemLine
                  >{{
                    (
                      countryInfo?.population / countryInfo?.area
                    ).toLocaleString()
                  }}
                  people/km²</span
                >
              </mat-list-item>

              <mat-list-item>
                <span matListItemIcon
                  ><mat-icon>currency_exchange</mat-icon></span
                >
                <span matListItemTitle>Currency</span>
                <span matListItemLine>{{
                  countryInfo?.currency["symbol"]
                }}</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
