

<div class="world-map-app-container">
  <div class="world-map-container"> 
  </div>

  <div class="map-menu">
    <h2 class="map-menu-title text-dark-primary"> Color display </h2>
    <div class="row">
      <div class="col-6"> <button [ngClass]="currentAttribute == 'population' ? 'selected' : '' " class="btn btn-outline-dark-primary btn-toggle-display" (click)="displayColorByAttribute('population')">Population </button></div>
      <div class="col-6"> <button [ngClass]="currentAttribute == 'area' ? 'selected' : '' " class="btn btn-outline-dark-primary btn-toggle-display" (click)="displayColorByAttribute('area')">Area</button></div>
      <div class="col-6"> <button [ngClass]="currentAttribute == 'density' ? 'selected' : '' " class="btn btn-outline-dark-primary btn-toggle-display" (click)="displayColorByAttribute('density')">Density</button></div>
      <div class="col-6"> <button [ngClass]="currentAttribute == 'continents' ? 'selected' : '' " class="btn btn-outline-dark-primary btn-toggle-display" (click)="displayColorByAttribute('continents');">Continents</button></div>
    </div>
  
    <hr>
    <div class="country-info" *ngIf="countryInfo">
      <h2 style ="margin-top: 1rem;" class="map-menu-title text-dark-primary"> Country information </h2>
      <ul class="list-group list-group-flush bg-ocean" style = "margin-top: -15px;" >
        <li class="item-country-info list-group-item list-group-item-ocean"> <b> Name </b> :  {{ countryInfo?.name['common'] }} </li>
        <li  class="item-country-info  list-group-item list-group-item-ocean"> <b> Capitale </b> : {{ countryInfo?.capital }}</li>
        <li class="item-country-info  list-group-item list-group-item-ocean"><b>Population  </b> : {{ countryInfo?.population.toLocaleString()  }} </li>
        <li  class="item-country-info  list-group-item list-group-item-ocean"> <b> Area </b>: {{ countryInfo?.area.toLocaleString() }} km²</li>
        <li  class="item-country-info  list-group-item list-group-item-ocean"> <b>Density  </b> : {{ (countryInfo?.population/ countryInfo?.area).toLocaleString() }} h/km²</li>
        <li  class="item-country-info  list-group-item list-group-item-ocean"> <b> Currency</b> :  {{ countryInfo?.currency['symbol'] }}</li>
        <li  class="item-country-info  list-group-item list-group-item-ocean"> <img style="margin: auto; border:1px solid black; width: 50%; height: 50%;" src="{{ countryInfo?.flags['png']}}"> </li>
      </ul>
    </div>
    </div>
</div>