@import "./custom-theme.scss";

// Additional theme utility classes
.color-primary {
  color: var(--primary);
}
.color-accent {
  color: var(--accent);
}
.color-warn {
  color: var(--error);
}
.color-info {
  color: var(--info);
}
.color-success {
  color: var(--success);
}
.color-warning {
  color: var(--warning);
}

.bg-primary {
  background-color: var(--primary);
}
.bg-accent {
  background-color: var(--accent);
}
.bg-warn {
  background-color: var(--error);
}
.bg-info {
  background-color: var(--info);
}
.bg-success {
  background-color: var(--success);
}
.bg-warning {
  background-color: var(--warning);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
